<template>
<div class="hello">
  <b-container fluid>
    <b-row class="text-center">
      <b-col md="12">
        <b-container>

          <h4 class="py-4">PARÁMETROS DE BÚSQUEDA</h4>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="display:inline-block">

            <b-row class="text-center">
                <b-col>
                  <b-form-group label-size="sm" :label-cols="3" label="Categoría:">
                    <b-form-select v-model="category_selected" class="mb-3" required>
                      <template slot="first">
                        <option :value="null" disabled>Seleccione una Categoría</option>
                      </template>
                      <option v-for="option in categories" v-bind:value="option.id" :selected="option.id">
                        {{ option.name }}
                      </option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group v-if="show_brands" label-size="sm" :label-cols="3" label="Marca:">
                    <b-form-select v-model="brand_selected" class="mb-3" :disabled="!active_brands" required>
                      <template slot="first">
                                <option :value="null" disabled>Seleccione una Marca</option>
                              </template>
                      <option v-for="option in brands" v-bind:value="option.id" :selected="option.id">
                        {{ option.name }}
                      </option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label-size="sm" :label-cols="3" label="Familia:">
                    <b-form-select v-model="family_selected" class="mb-3" :disabled="!active_families" required>
                      <template slot="first">
                                <option :value="null" disabled>Seleccione una Familia</option>
                              </template>
                      <option v-for="option in families" v-bind:value="option.id" :selected="option.id">
                        {{ option.name }}
                      </option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col align-v="center">
                  <b-row align-h="center" align-v="center" style="height: 100%">
                    <b-col>
                      <b-button type="submit" variant="primary">BUSCAR</b-button>
                    </b-col>
                    <b-col>
                      <b-button type="reset" variant="danger">LIMPIAR</b-button>
                    </b-col>
                  </b-row>
                </b-col>
            </b-row>
          </b-form>
        </b-container>
      </b-col>
      <b-col md="12" class="py-5">
        <b-container>
          <h4 class="py-4">LISTA DE PRODUCTOS</h4>
          <vue-good-table
            :columns="fields"
            :rows="products"
            :pagination-options="{ enabled: true, perPage: 10 }"
            :search-options="{ enabled: true }"
            :lineNumbers="true"
            styleClass="vgt-table bordered condensed">
          </vue-good-table>
        </b-container>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>
import Axios from 'axios'

const axios = Axios.create({
  baseURL: 'http://138.197.205.18/api/'
})

export default {
  name: 'HelloWorld',
  data () {
    return {
      currentPage: 1,
      bordered: true,
      outlined: true,
      show: true,
      show_brands: true,
      errors: [],
      categories: [],
      brands: [],
      active_brands: false,
      families: [],
      active_families: false,
      family_selected: null,
      products: [],
      fields: [
        {
          label: 'Id',
          field: 'id',
          type: 'number',
          width: '90px',
          align: 'center',
          tdClass: 'text-center'
        },
        {
          label: 'Nombre del Producto',
          field: 'name',
          tdClass: 'text-center',
          thClass: 'vgt-center-align'
        }
      ]
    }
  },
  created () {
    axios.get('categories/')
      .then(response => {
        this.categories = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  computed: {
    category_selected: {
      get () {
        return null
      },
      set (optionValue) {
        this.brand_selected = null
        this.family_selected = null
        this.brands = []
        this.families = []
        this.active_families = false
        this.products = []
        this.show_brands = false
        this.$nextTick(() => {
          this.show_brands = true
        })
        if (optionValue != null) {
          axios.get('categories/' + optionValue + '/brands/')
            .then(response => {
              this.brands = response.data
              this.active_brands = true
            })
            .catch(e => {
              this.errors.push(e)
            })
        }
      }
    },
    brand_selected: {
      get () {
        return null
      },
      set (optionValue) {
        this.family_selected = null
        this.families = []
        this.products = []
        if (optionValue != null) {
          axios.get('categories/brands/' + optionValue + '/families/')
            .then(response => {
              this.families = response.data
              this.active_families = true
            })
            .catch(e => {
              this.errors.push(e)
            })
        }
      }
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      if (this.family_selected != null) {
        axios.get('categories/brands/families/' + this.family_selected + '/products/')
          .then(response => {
            this.products = response.data
            console.log(this.products)
          })
          .catch(e => {
            this.errors.push(e)
          })
      }
    },
    onReset (evt) {
      evt.preventDefault()
      this.brand_selected = null
      this.family_selected = null
      this.category_selected = null
      this.active_brands = false
      this.active_families = false
      this.family_selected = null
      this.products = []
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
